stages:
  - lint
  - test
  - build
  - deploy

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  PYTHONUNBUFFERED: "1"

cache:
  paths:
    - .cache/pip
    - frontend/node_modules/


backend_lint:
  stage: lint
  image: python:3.12
  before_script:
    - pip install --upgrade pip
    - pip install -r backend/requirements.txt
    - pip install ruff
  script:
    - cd backend
    - ruff check .
  rules:
    
    - changes:
        - backend/**/*


backend_tests:
  stage: test
  image: python:3.12
  before_script:
    - pip install --upgrade pip
    - pip install -r backend/requirements.txt
  script:
    - cd backend
    - python manage.py test
  rules:
    - changes:
        - backend/**/*


backend_docker_build:
  stage: build
  image: docker:26.0.0
  services:
    - docker:26.0.0-dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
  script:
    
    - docker build -t backend-test-image ./backend
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - backend/**/*


frontend_build:
  stage: build
  image: node:22
  before_script:
    - cd frontend
    - npm ci
  script:
    - cd frontend
    - npm run build
  rules:
    
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - frontend/**/*


deploy_backend:
  stage: deploy
  image: alpine:latest
  script:
    - echo "Isi perintah deploy backend lu di sini (SSH / Railway / Render / dsb)"
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
